@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
    font-family: 'Quicksand';
    src: url('/fonts/Quicksand-VariableFont_wght.ttf');
}

:root [data-theme='modern'] {
    --theme-font-family-base: 'Quicksand', sans-serif;
    --theme-font-family-heading: 'Quicksand', sans-serif;
}
